APP_ENV=local
APP_URL=http://127.0.0.1:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=your_cpanel_database
DB_USER=your_cpanel_database_user
DB_PASS=your_cpanel_database_password

SESSION_NAME=GENBISESSID
SESSION_SECURE=false
SESSION_SAMESITE=Lax

UPLOAD_MAX_MB=5
