APP_ENV=local
APP_URL=http://127.0.0.1:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=genc1357_genbijambi
DB_USER=root
DB_PASS=

SESSION_NAME=GENBISESSID
SESSION_SECURE=false
SESSION_SAMESITE=Lax

UPLOAD_MAX_MB=5
